body {
    background-image:url(http://www.zingerbugimages.com/backgrounds/aqua_green_stars.gif);
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #D1F2EB;
}

#connect{
	background-color: #1ABC9C;
	visibility: "hidden";
}

#disconnect{
	background-color: #1ABC9C;
}

#send{
	background-color: #D1F2EB;
	border: 2px solid #1ABC9C;
}

#send2{
	background-color: #D1F2EB;
	border: 2px solid #1ABC9C;
}

thead{
	background-color: #1ABC9C;
}
